
# Project-specific files to ignore
# -----------------------------------
liblouis-build/


*.tgz

# Example app for development
example/

# Local expo development state
.expo/

# Build configuration files not needed by the end-user
tsconfig.json

# Development-only scripts
scripts/

# Bundled tables, used for building the modules
bundled_tables/

# Lockfiles should not be published
package-lock.json
yarn.lock
pnpm-lock.yaml


# Standard files to ignore
# -----------------------------------

# Build intermediates (native + JS)
android/.cxx/
android/build/
ios/build/

# Scripts and dev tooling
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Test & docs folders
test/
tests/
__tests__/
docs/

# IDE & OS junk
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Node internals
node_modules/
